html {
  font-size: 10px;
}

$font-size-base: 1rem;
$line-height-base: 1.5;

p,
label {
  font-size: $font-size-normal;
}

.font-size-14 {
  font-size: 1.4rem;
}

.font-size-15 {
  font-size: 1.5rem;
}

.font-size-18 {
  font-size: 1.8rem;
}

.font-size-20 {
  font-size: 2rem;
}
